Auragraph.xcodeproj/project.xcworkspace/
Auragraph.xcodeproj/xcuserdata/

nime2014/nime-template.aux
nime2014/nime-template.bbl
nime2014/nime-template.blg
nime2014/nime-template.log
nime2014/nime-template.pdf
nime2014/nime-template.synctex.gz
nime2014/texput.log

