.DS_Store

project.xcworkspace
xcuserdata

nime2014/*.aux
nime2014/*.bbl
nime2014/*.blg
nime2014/*.log
nime2014/*.pdf
nime2014/*.synctex.gz
nime2014/texput.log

proposal/*.aux
proposal/*.bbl
proposal/*.blg
proposal/*.log
proposal/*.pdf
proposal/*.synctex.gz
proposal/texput.log
proposal/.proposal.lb
proposal/proposal.out

