
body {
    background: #0C1021; /* #0C1020 */
    color: #F9BB02;
}

hr {
    border-color: #F9BB02;
}

/* top menu */

#top_menu .item:not(:first-child) {
    border-left: 2px solid #F9BB02;
}

#top_menu .item a {
    color: #F9BB02;
}

#top_menu .selected {
    color: #0C1021;
    background: #F9BB02;
}

/* */

.index_group {
    background-color: #eee;
}

.index_group_title {
    border-right: 4px solid #F9BB02;
}

.index_group_title a { color: #F9BB02; }

#title {
    border-bottom: 1px solid #F9BB02;
}

h1 a {
    color: #F9BB02;
}

.toc {
    background-color: #000020;
}

.toc a {
    color: #F9BB02;
}

.node {
    background-color: #0C1021;
}

.empty_node_desc {
    color: grey;
}

.member {
/*    border-top: 2px solid #F9BB02;*/
    border-left: 1px solid #F9BB02;
}

.empty_member_desc {
    color: grey;
}

.top_link a {
    color: #F9BB02;
}
