
body
{
    margin: 2em 7em 2em 2em;
    font-family: Nunito, sans-serif;
	font-size: 14px;
}

/* top menu */

#top_menu {
    text-align: center;
    margin: 1em;
}

#top_menu .container {
    font: bold 28px Orbitron, sans-serif;
    margin-right: auto;
    margin-left: auto;
}

#top_menu .item {
    margin: 0;
    display: inline-block;
    padding: 10px;
    padding-bottom: 5px;
}

#top_menu .item:not(:first-child) {
    border-left: 2px solid black;
}

#top_menu .item a {
    color: black;
}

#top_menu .selected {
    background: #eee;
}

#top_menu p.description {
    line-height: 1.3em;
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* */

.index_group
{
    clear: both;
    background-color: #eee;
    padding: 1em 1em 1em 1em;
    margin-bottom: 2em;
    vertical-align: top;
}

.index_group_title
{
    float: left;
    margin: 0;
    width: 15%;
    padding-right: 3em;
    border-right: 4px solid #fcfcfc;
}

.index_group_classes
{
    padding-top: 0.15em;
    padding-left: 1em;
    padding-bottom: 0.15em;
    
    margin: 0;
    margin-left: 20%;
    width: 75%;
}

.index_group_classes a
{
    margin-right: 0.5em;
    line-height: 1.5em;
}

.index_group_title a { color: black; }

#title
{
    font-family: Orbitron, sans-serif;
    float: left;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
}

.titleL
{
    float: left;
    width: auto;
    clear: none;
}

.titleR
{
    float: right;
    text-align: right;
    width: auto;
    clear: none;
}

h1
{
	font-size: 28px;
    margin: 0;
}

h1 a { color: black; text-decoration: none; }

#body
{
    clear: both;
}

.toc
{
    float: left;
/*    position: fixed;*/
    clear: both;
    background-color: #eee;
    padding: 0.25em 0.5em 1em 0.75em;
    margin: 0;
    width: 7em;
}

.toc_node
{
    font-size: 14px;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

.nodes
{
    clear: right;
    margin-left: 9em;
    margin-right: 0em;
}

.node
{
    background-color: #eee;
    padding: 0.025em 0.5em 0.25em 1em;
}

.node_title
{
    font-family: Orbitron, Menlo, Monaco, Courier;
	font-size: 18px;
}

.node_hierarchy
{
    font-family: Orbitron, Menlo, Monaco, Courier;
	font-size: 14px;
    margin-right: 4em;
}

.node_header {
    margin-top: 1em;
}

.node_symbol {
    float: left;
    transform-origin: 0px 0px 0px;
}

.node_symbol svg {
    overflow: visible;
}

.node_header_info {
    padding-bottom: 1px;
}

.node_section_header
{
/*    clear: left;*/
/*    overflow: hidden;*/
}

.node_desc
{
    font-family: Nunito, sans-serif;
	font-size: 14px;
    margin-right: 4em;
}

.empty_node_desc
{
    font-family: Nunito, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: grey;
    margin-right: 4em;
}

.members
{
    font-family: Orbitron, Menlo, Monaco, Courier;
	font-size: 13px;
}

.member
{
    margin-left: 0em;
    padding-left: 0.85em;
    padding-top: 0.85em;
    border-top: 4px solid #fcfcfc;
    border-left: 4px solid #fcfcfc;
    
    padding-bottom: 0.85em;
    padding-left: 0.85em;
    margin-bottom: 1.5em;
    
    margin-right: 4em;
    padding-right: 0;
}

.member_name
{
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.member_desc
{
    font-family: Nunito, sans-serif;
	font-size: 14px;
	margin-top: 0;
    margin-bottom: 0;
}

.empty_member_desc
{
    font-family: Nunito, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: grey;
	margin-top: 0;
    margin-bottom: 0;
}

.typename
{
    font-family: Orbitron, Menlo, Monaco, Courier;
    font-size: 13px;
}

.membername
{
    font-weight: bold;
}

.top_link
{
    text-align: right;
    margin-top: 2em;
    margin-right: 1em;
}

.top_link a
{
    color: #44F;
}

.examples ul
{
    margin-top: -1em;
}

.examples ul li a
{
    text-decoration: none;
}


.clear { clear: both; }
